<template name="Home">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Philip</td>
      <td>Johnson</td>
      <td>1600 East West Rd.</td>
      <td>808-956-3489</td>
      <td>johnson@hawaii.edu</td>
    </tr>
    <tr>
      <td>Kim</td>
      <td>Binsted</td>
      <td>1600 East West Rd.</td>
      <td>808-956-3489</td>
      <td>binsted@hawaii.edu</td>
    </tr>
    <tr>
      <td>Henri</td>
      <td>Casanova</td>
      <td>1600 East West Rd.</td>
      <td>808-956-3489</td>
      <td>henric@hawaii.edu</td>
    </tr>
    </tbody>
  </table>
</template>
